<app-not-found
  [visible]="!product"
  notFoundMessage="Product Not Found!"
  resetLinkText="Back To Homepage"
></app-not-found>

<div *ngIf="product" class="container">
  <img [src]="product.imageUrl" alt="product.name" />
  <div class="details">
    <div class="header">
      <span class="name">
        {{ product.name }}
      </span>
      <span class="favorite {{ product.favorite ? '' : 'not' }}"> ♥ </span>
    </div>
    <div class="price">
      <span>{{ product.price | currency }}</span>
    </div>
    <button (click)="addToCart()">Add To Cart</button>
  </div>
</div>
